
<div>
    <div class="flex items-center pb-2 font-2xl leading-normal text-transparent">
        <p class="font-bold text-blue-600">Appearance:</p>
    </div>
     <ul class="font-semibold grid grid-cols-2 gap-1  ml-3 max-w-sm list-disc list-inside text-gray-700">
        <li>
            Gender: <span class="text-blue-600"> <%= heros.appearance.gender %></span>
        </li>
        <li>
            Race: <span class="text-blue-600"> <%= heros.appearance.race %></span>
        </li>
        <li>
            Height: <span class="text-blue-600"> <%= heros.appearance.height %></span>
        </li>
        <li>
            Weight: <span class="text-blue-600"> <%= heros.appearance.weight %></span>
        </li>
        <li>
            Eye Color: <span class="text-blue-600"> <%= heros.appearance.eyeColor %></span>
        </li>
        <li>
            Hair Color: <span class="text-blue-600"> <%= heros.appearance.hairColor %></span>
        </li>
     </ul>
 </div>