
<table class="w-full text-sm text-left mb-2">
     <tr class="ml-0 font-semibold grid grid-cols-1 list-inside text-gray-700 ">
        <th class="rounded-t-xl">
            Full Name: <br> <span class="font-normal"> <%= heros.biography.fullName %></span>
        </th>
        <th>
            Alias:<br> <span class="font-normal"> <%= heros.biography.aliases %></span>
        </th>
        <th>
            Alter Ego: <br> <span class="font-normal"> <%= heros.biography.alterEgos %></span>
        </th>
        <th>
            Origin:<br> <span class="font-normal"> <%= heros.biography.firstAppearance %></span>
        </th>
        <th>
            Place of Birth:<br> <span class="font-normal"> <%= heros.biography.placeOfBirth %></span>
        </th>
        <th>
            Occupation:<br> <span class="font-normal"> <%= heros.work.occupation %></span>
        </th>
        <th>
            Alignment:<br> <span class="font-normal"> <%= heros.biography.alignment %></span>
        </th>
        <th class="rounded-b-xl">
            Publisher:<br> <span class="font-normal"> <%= heros.biography.publisher %></span>
        </th>
    </tr>
</table>




