
<nav>
    <div class="container">
        <div class="row">
            <% for (var i = 0; i < heros.length; i++) { %>
                <table class="rounded-xl w-full text-sm text-left mb-2">
                    <tr class="font-semibold grid grid-cols-1 list-inside text-gray-700">
                        <th class="content flex">
                            <img class="w-12 h-12 my-2 rounded-full object-cover object-top" src="<%= heros[i].images.xs %>"   alt="superhero profile image">
                            <a class="font-semibold text-2xl my-auto ml-3 text-blue-600 whitespace-nowrap w-full" href="/heroes/<%= heros[i]._id %> "><u><%= heros[i].name %></u> <span class="text-base font-light text-black"><%= heros[i].biography.fullName %></span> </a>
                        <!-- PowerStats -->
                            <div class="flex flex-wrap text-end float-right gap-1 mb-1 mt-2">
                                <div class="flex mr-1 items-center">
                                      <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
                                        <span class="self-center text-xs font-medium">Intelligence</span>
                                      </div>
                                      <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros[i].powerstats.intelligence %> </div>
                                  </div>
                                  <div class="flex mr-1 items-center">
                                      <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
                                        <span class="self-center text-xs font-medium">Strength</span>
                                      </div>
                                      <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros[i].powerstats.strength %> </div>
                                  </div>
                                  <div class="flex mr-1 items-center">
                                      <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
                                        <span class="self-center text-xs font-medium">Speed</span>
                                      </div>
                                      <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros[i].powerstats.speed %> </div>
                                  </div>
                                  <div class="flex mr-1 items-center">
                                      <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
                                        <span class="self-center text-xs font-medium">Durability</span>
                                      </div>
                                      <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros[i].powerstats.durability %> </div>
                                  </div>
                                  <div class="flex mr-1 items-center">
                                      <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-bl-md">
                                        <span class="self-center text-xs font-medium">Power</span>
                                      </div>
                                      <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros[i].powerstats.power %> </div>
                                  </div>
                                  <div class="flex mr-1 items-center">
                                      <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
                                        <span class="self-center text-xs font-medium">Combat</span>
                                      </div>
                                      <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros[i].powerstats.combat %> </div>
                                  </div>
                            </div>
                            <p class="border border-gray-400 border-dotted text-end mr-1 mb-10 px-1 float-right font-light"><%= heros[i].original_id %></p>
                        </th>
                        <th>
                        <!-- Appearance -->
                        <ul class="grid grid-cols-4 gap-0 font-normal mb-2 ml-1  text-gray-700">
                            <li>
                            <p>  Gender: <span class="text-blue-600"> <%= heros[i].appearance.gender %></span></p>
                            <p>Race: <span class="text-blue-600"> <%= heros[i].appearance.race %></span></p>
                            <p>Height: <span class="text-blue-600"> <%= heros[i].appearance.height %></span></p>
                        </li>
                        <li>
                            <p>Weight: <span class="text-blue-600"> <%= heros[i].appearance.weight %></span></p>
                            <p>Eye Color: <span class="text-blue-600"> <%= heros[i].appearance.eyeColor %></span></p>
                            <p>Hair Color: <span class="text-blue-600"> <%= heros[i].appearance.hairColor %></span></p>
                        </li>
                        <li>
                            <p>Weight: <span class="text-blue-600"> <%= heros[i].work.occupation %></span></p>
                        </li>
                        <li>
                            <p class="my-auto">Occupation: <span class="text-blue-600"> <%= heros[i].biography.publisher %></span></p>
                        </li>
                        </ul>
                        </th>

                    </tr>
                </table>
            <% } %>
        </div>

          <% if (pages > 0) { %>
            <nav class="pagination mt-10 text-center">
                <ul class="inline-flex items-center -space-x-px">
                    <% if (current == 1) { %>
                        <!--FIRST PAGE BUTTON-->
                        <li class="disabled"><a class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            First</a></li>
                    <% } else { %>
                        <li><a class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                             href="/1">First</a></li>
                    <% } %>
                    <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                    <% if (i !== 1) { %>
                        <li class="disabled px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><a>...</a></li>
                    <% } %>
                    <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                        <% if (i == current) { %>
                            <!--ACTIVE PAGE-->
                            <li class="active px-2 py-2 leading-tight text-gray-500 bg-gray-200 border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <a><%= i %></a></li>
                        <% } else { %>
                            <!--REST OF BUTTONS-->
                            <li><a class="px-2 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" 
                                href="/<%= i %>"><%= i %></a></ti>
                        <% } %>
                        <% if (i == Number(current) + 4 && i < pages) { %>
                            <li class="disabled px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"><a>...</a></li>
                        <% } %>
                    <% } %>
                    <% if (current == pages) { %>
                        <!--LAST PAGE-->
                        <li class="disabled px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <a>Last</a></li>
                    <% } else { %>
                        <li><a class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" 
                            href="/<%= pages %>">Last</a></li>
                    <% } %>
                    </ul>
            </nav>
                <% } %>
    </div>
</nav>
