
<div class="flex items-center font-2xl leading-normal text-transparent">
    <p class="font-bold text-blue-600">Powerstats:</p>
</div>
<div class="flex flex-wrap gap-3 mb-0 mt-2">
  <div class="flex mr-1 items-center">
        <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
          <span class="self-center text-xs font-medium">Intelligence</span>
        </div>
        <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros.powerstats.intelligence %> </div>
    </div>
    <div class="flex mr-1 items-center">
        <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
          <span class="self-center text-xs font-medium">Strength</span>
        </div>
        <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros.powerstats.strength %> </div>
    </div>
    <div class="flex mr-1 items-center">
        <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
          <span class="self-center text-xs font-medium">Speed</span>
        </div>
        <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros.powerstats.speed %> </div>
    </div>
    <div class="flex mr-1 items-center">
        <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
          <span class="self-center text-xs font-medium">Durability</span>
        </div>
        <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros.powerstats.durability %> </div>
    </div>
    <div class="flex mr-1 items-center">
        <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-bl-md">
          <span class="self-center text-xs font-medium">Power</span>
        </div>
        <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros.powerstats.power %> </div>
    </div>
    <div class="flex mr-1 items-center">
        <div class="flex items-center px-1 leading-none py-1 text-blue-600 bg-blue-100 rounded-l-md">
          <span class="self-center text-xs font-medium">Combat</span>
        </div>
        <div class="px-1 text-xs font-semibold leading-none py-1 bg-blue-600 text-blue-100 rounded-r-md"> <%= heros.powerstats.combat %> </div>
    </div>
</div>
